
.whisp
	height: 300px
	width: 100%
	overflow: hidden
	overflow-x: none
	overflow-y: auto

	position: fixed

	border: 1px solid rgba(100, 100, 100, .4)
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25)

	background: white

.whispItem
	width: 100%
	height: 50px
	display: inline-block
	border-bottom: 1px solid #CECECE

	&:hover
		background: white - 10

	&:last-child
		border-bottom: none

	img
		width: 50px
		height: 50px

	div
		width: calc(100% - 50px)
		display: inline-block
		padding: 15px 10px

		box-sizing: border-box
		float: right

