



.header {
    font-family: 'Open Sans Condensed', sans-serif;

    display: block;
    margin: auto;
    text-align: left;

    font-size: 14px;

    margin-top: 7px;
    margin-bottom: 11px;


    padding: auto;

    letter-spacing: 0.17em;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1.3;
}