



.section {
    display: block;
    width: 100%;
}

.noFlex {
    &.center {
        text-align: center;
    }
}


.flex {
    display: flex;
    justify-content: center;

    &.center {
        justify-content: center;
    }

    &.spaceBetween {
        justify-content: space-between;
    }
    &.spaceAround {
        justify-content: space-around;
    }
}
