$zIndexToastWrap: 1;

$toastPadding: 12px 20px;
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

@mixin colorToast($color) {

	background: $color;

	&:hover:not(.pernament), &.pernament .times:hover {
		background: $color - 15;
		cursor: pointer;

		transition: all 0.5s ease;
	}

	transition: all 0.5s ease;
}

.toastWrap {
	position: fixed;
	z-index: $zIndexToastWrap;

	width: 100%;
	bottom: 0;

	.toastContent {
		position: absolute;
		right: 0;
		bottom: 30px;
		//background: red;
		//background: red;

	}

	.toast {

		font-size: 14px;

		transition: 1s easy all;
		font-weight: bold;
		border-radius: 3px;
		box-shadow: $shadow;
		margin: 15px 36px;
		min-width: 200px;

		.text {
			padding: $toastPadding;

			display: flex;
			align-items: center;
		}

		&.pernament {
			display: flex;

			.text {
				width: calc(100% - 50px);

			}

			.times {
				width: 50px;

				text-align: center;
				vertical-align: middle;
				font-size: 30px;
				font-weight: 100;

				border-left: 1px solid #555;

			}
		}

		// Colors
		//background: $mTeal2;

		@include colorToast($mTeal2);

		&.error {
			@include colorToast($mPurple2);
		}
		&.success {
			@include colorToast($mLime2);
		}
		&.warning {
			@include colorToast($mAmber2);
		}

	}
}
