$background: #fafafa

$font: #AAA

$btn: #A15348

.wrap
	border: 3px dashed $font
	position: relative
	background: $background

	&:hover
		background: $background - 5

	input[type=file]
		margin: 0
		width: 100%
		height: 100px
		opacity: 0
		cursor: pointer

.text
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	font-size: 22px
	color: $font
	padding-top: 10px
	pointer-events: none
	display: inline-block
	text-align: center

.or
	font-size: 14px
	color: $font - 5

.btn
	font-size: 18px
	margin-top: 5px
	display: inline-block
	padding: 5px 10px
	background: #A15348
	color: #FFF

	&:hover
		background: #A15348 + 30



