
.frame {

	white-space: nowrap;
	text-align: center;

	margin: 1em 0;

	.helper {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
	}

}
