
.wrap {
    display: none;

    transition: all 1s ease-in;

    &.show {
        display: block;
    }

    transition: opacity 300ms ease-in;
}

.shadow {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.dialog {

    transition: all 300ms ease-in;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background: white;
    z-index: 1001;

    max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);

    .content {

        transition: all 300ms ease-in;

        width: 100%;
        min-width: 400px;
        height: 100%;
        min-height: 300px;

    }

}


