// Font

$baseFont: 'Muli', serif;
$headerFont: 'Muli', serif;

$lineHeight: 1.4;

// Body Colors

$bodyFontColor: $mGrey8;
$bodyFontColorMobile: $mGrey8 - 15;

$bodyBackgroundColor: $mGrey0;

// Paddings

$linkInParagraphColor: $mBlue8;

$paddingSize: 0.5em;

$accentColor: $mBlueGrey7;
$accentColorHover: $mBlueGrey7 + 15;

// Responzive

$tabletWidth: 700px;

$tablet: only screen and (max-width: #{$tabletWidth});
